doctype html
html
  head
    title= title


  body(style = "background-image: url('/image/registerim.jpg');")
    link(href='/css/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet')
    block navBar
        div.container
            ul
                a(class='active' href="home" style="font-size: 54px; font-weight: 300;")
                    li Home
                a(href="ourTeam")
                    li Our Team
                a(href="aboutUs")
                    li About Us
                a(href="contactUs")
                    li Contact Us
                a(href="donateUs")
                    li Donate Us
                a(href="login" style="margin-left: 350px; ")
                    li Login
                a(class='button2' href="Register")
                    button2 Join Us
    block myContent

    block content2
		
    block content3
        div.mainContent
        h1  A</br> project</br> about our</br> teams</br>

               a(class='button' href='aboutUs') Details

    #footer
           div.muted.credit Example courtesy
             a(href='http://martinbean.co.uk') Martin Bean
             | and
             a(href='http://ryanfait.com/sticky-footer/') Ryan Fait.
