body {
  padding-left: 100px;
  padding-bottom: 300px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: aqua;
  background-image: url('/image/homeim.jpg');
  height:100%;
  background-position: 0px;
  background-position-y: -180px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height:50px;
}
ul {
  margin-left: 100px;
  position:center;
  padding: 10;
  color: #707070;
}



h1 {
    position: absolute;
    left: 462px;
    width: 393px;
    height: 454px;
    z-index: 26;	
	color: #707070;
	font-family: 'Roboto', sans-serif;
	font-size: 86px;
	text-align: right;
}

.p{
    position: absolute;
    top: 286px;
    left: 462px;
    width: 393px;
    height: 454px;
    z-index: 26;	
	color: #707070;
	font-style: Roboto;
	
}

.button2 {
    background-color: white; /* Gray */
    border: 3px solid #707070;
    color: #707070;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: 'Roboto', sans-serif;


}

.button {
    background-color: white; /* Gray */
    border: 1px solid #707070;
    color: #707070;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
	font-family: 'Roboto', sans-serif;
	border-radius: 50px;
}

li {
  display: -webkit-inline-box;
  color: blanchedalmond;
  padding: 8px 26px;
  text-decoration: rgb(147, 210, 30);
  color: #707070;
}

li .li2 {
  display: -webkit-inline-box;
  color: blanchedalmond;
  padding: 8px 26px;
  text-decoration: rgb(147, 210, 30);
}


.mainContent {
  block-size:fit-content;
  
}

.secondContent{
  font-size: 50px;
  color: aqua;
}

.container{
  color:green;
  font-size:25px;
}

#footer {
  position: absolute;
  bottom:0;
  width: 110%;
  background-color: green;
  margin-left: -60px;
}
